*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

header{
    width:100%;
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;

    ul{
        display: flex;
        gap: 20px;
        list-style-type: none;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 16px 20px;
        border-radius: 12px;
        backdrop-filter: blur(20px);
    }
}

.logotipo{
    width: 90px;
    height: 100px;
}

 p{
        opacity: .7;
 }

 a{
    color: rgb(235, 223, 223);
    opacity: .7;
    transition: all .3s;
    text-decoration: none;

    &:hover{
        opacity: 1;
        color: rgba(112, 110, 235, 0.694);
    }
 }

body{
 background-color: #373546;
 color: rgba(255, 255, 255, 0.9);
 font-family: "Poppins";
}

section{
    width:100%;
    display: flex;
    flex-direction: column;
    padding: 4%;
    scroll-margin-top: 100px;
    }

.secao1{
    background-image: url("assets/img1.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;

    h2{
        font-size: 13vw;
        mix-blend-mode: color-dodge;
        color:rgba(52, 81, 208, 0.477);
    }
}

.conteudoprincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        text-align: center;
        font-size: 40px;
        font-weight: 500;
    }
}

button{
font-family: "Poppins";
display: flex;
justify-content: center;
align-items: center;
border-radius: 40px;
border: none;
outline: none;
font-size: 16px;
opacity: .8;
transition: all .3s;
}

button:hover{
    opacity: 1;
}

.tituloSecao{
    z-index: 2;
    font-size: 60px;
    font-weight: 500;
}